extends layout

mixin dictViewer(data, inset)
  .pr-4(class='sm:p-0')
    table.min-w-full
      tbody.bg-white
        each value,key in data
          if Object.prototype.toString.call(data) == '[object Array]'
            tr.border-black
              if typeof value == "string"
                td.whitespace-nowrap.pr-3.text-sm.text-gray-500=value
              else
                td.whitespace-nowrap.pr-3.text-sm.text-gray-500
                  +dictViewer(value)
          else
            tr.border-black.flex
              td.whitespace-nowrap.pr-3.text-sm.font-medium.text-gray-900.border-black.flex.items-start(class=key=="**args"?"border-b-2":"", style="text-align: top")
                span.font-bold=key
              if typeof value == "string"
                td.whitespace-nowrap.pr-3.text-sm.text-gray-500.border-black.text-start(class=key=="**args"?"border-b-2":"")
                  span=value
              else
                td.whitespace-nowrap.pr-3.text-sm.text-gray-500
                  +dictViewer(value, inset+1)
mixin newDict(data)
  .flex.flex-col
    each value,key in data
      if Object.prototype.toString.call(data) === '[object Array]'
        if typeof value == "string"
          div.flex
            span=value
        else
          +newDict(value, inset+1)

      else
        div.flex.py-2(class=(Object.keys(data).indexOf(key) == Object.keys(data).length-1?"border-0 ":"border-b-2 ")+(key=="**args"?"bg-yellow-100":""))
          span.font-bold(class="basis-1/3")=key
          if (Object.keys(value).length < 2 && value != "[object Object]") || typeof value == "string"
            span(class="basis-2/3")=value
          else
            div(class="basis-2/3")
              +newDict(value, inset+1)

        //
          if typeof value == "string"
            //span(class="basis-2/3")=value
          else
            div(class="basis-2/3")
              +newDict(value)


block content
  script.
    let data = !{JSON.stringify(data)}
    console.log(data.data)
  if (userpermissions.apache2_config)
    .overflow-hidden.bg-white.shadow.mt-5(class='rounded-lg')
      .px-4.py-5(class='sm:px-6')
        h3.text-lg.font-medium.leading-6.text-gray-900 Apache2 Configuration
        p.mt-1.max-w-2xl.text-sm.text-gray-500
      if data.success
        .px-4(class="sm:px-6")
          +newDict(data.data, 0)

  else
    include includes/error