extends layout

block content
  if (data.details == false && userpermissions.services_list)
    .px-4(class='sm:px-6 lg:px-8')
      .mt-8.flex.flex-col
        .-my-2.-mx-4(class='sm:-mx-6 lg:-mx-8')
          .inline-block.min-w-full.py-2.align-middle
            .overflow-hidden.shadow-sm.ring-1.ring-black.ring-opacity-5
              table.min-w-full.divide-y.divide-gray-300.max-w-full
                colgroup
                  col(width="100%")
                  col(width="0%")
                  col(width="0%")
                  col(width="0%")
                  col(width="0%")
                thead.bg-gray-50
                  tr
                    th.pl-4.pr-3.text-left.text-sm.font-semibold.text-gray-900(scope='col', class='py-3.5 sm:pl-6 lg:pl-8') Service
                    th.px-3.text-left.text-sm.font-semibold.text-gray-900(scope='col', class='py-3.5') Loaded
                    th.px-3.text-left.text-sm.font-semibold.text-gray-900(scope='col', class='py-3.5') Status
                    th.px-3.text-left.text-sm.font-semibold.text-gray-900(scope='col', class='py-3.5') Sub
                    th.relative.pl-3.pr-4(scope='col', class='py-3.5 sm:pr-6 lg:pr-8')
                      span.sr-only Details
                tbody.divide-y.divide-gray-200.bg-white
                  each service in Object.keys(data.data)
                    tr
                      td.whitespace-nowrap.py-4.pl-4.pr-3.text-sm.font-medium.text-gray-900(class='sm:pl-6 lg:pl-8 truncate' style="max-width:1px;")=service
                      td.whitespace-nowrap.px-3.py-4.text-sm.text-gray-500(class=(data.data[service].loaded ? "text-green-600" : "text-red-600" ))
                        if (data.data[service].loaded)
                          svg.w-6.h-6(xmlns='http://www.w3.org/2000/svg', fill='none', viewBox='0 0 24 24', stroke-width='1.5', stroke='currentColor')
                            path(stroke-linecap='round', stroke-linejoin='round', d='M4.5 12.75l6 6 9-13.5')
                        else
                          svg.w-6.h-6(xmlns='http://www.w3.org/2000/svg', fill='none', viewBox='0 0 24 24', stroke-width='1.5', stroke='currentColor')
                            path(stroke-linecap='round', stroke-linejoin='round', d='M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z')
                      case data.data[service].status
                        when -2
                          td.whitespace-nowrap.px-3.py-4.text-sm.text-red-600
                            svg.w-6.h-6(xmlns='http://www.w3.org/2000/svg', fill='none', viewBox='0 0 24 24', stroke-width='1.5', stroke='currentColor')
                              path(stroke-linecap='round', stroke-linejoin='round', d='M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z')
                        when -1
                          td.whitespace-nowrap.px-3.py-4.text-sm.text-red-600
                            svg.w-6.h-6(xmlns='http://www.w3.org/2000/svg', fill='none', viewBox='0 0 24 24', stroke-width='1.5', stroke='currentColor')
                              path(stroke-linecap='round', stroke-linejoin='round', d='M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z')
                        when 0
                          td.whitespace-nowrap.px-3.py-4.text-sm.text-yellow-600
                            svg.w-6.h-6(xmlns='http://www.w3.org/2000/svg', fill='none', viewBox='0 0 24 24', stroke-width='1.5', stroke='currentColor')
                              path(stroke-linecap='round', stroke-linejoin='round', d='M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z')
                        when 1
                          td.whitespace-nowrap.px-3.py-4.text-sm.text-green-600
                            svg.w-6.h-6(xmlns='http://www.w3.org/2000/svg', fill='none', viewBox='0 0 24 24', stroke-width='1.5', stroke='currentColor')
                              path(stroke-linecap='round', stroke-linejoin='round', d='M4.5 12.75l6 6 9-13.5')
                      td.whitespace-nowrap.px-3.py-4.text-sm.text-gray-500=data.data[service].sub
                      td.relative.whitespace-nowrap.py-4.pl-3.pr-4.text-right.text-sm.font-medium(class='sm:pr-6 lg:pr-8')
                        if (userpermissions.services_details)
                          a.text-emerald-600(href='/services?service=' + service, class='hover:text-emerald-900')
                            | Details
                            span.sr-only=service
                  // More people...
  else if (userpermissions.services_details)
    script.
      document.getElementById("breadcrumb_1_label").innerHTML = "!{data.service}";
      document.getElementById("breadcrumb_1_label").href = "/services?service=!{data.service}";
      document.getElementById("breadcrumb_1").classList.remove("hidden");

    #status_details_panel.overflow-hidden.bg-white.shadow.mt-5(class='sm:rounded-lg')
      .px-4.py-5(class='sm:px-6').flex.w-full
        h3.text-lg.font-medium.leading-6.text-gray-900 Service Information:&nbsp;
        h3#status_details_panel_svname.text-lg.font-medium.leading-6.text-gray-900=data.data.service
        a.ml-auto.cursor-pointer.inline-flex(class="hover:text-emerald-600", onclick="location.reload()")
          svg.w-6.h-6(xmlns='http://www.w3.org/2000/svg', fill='none', viewBox='0 0 24 24', stroke-width='1.5', stroke='currentColor')
            path(stroke-linecap='round', stroke-linejoin='round', d='M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99')
          span &nbsp;Refresh

      .border-t.border-gray-200.px-4.py-5(class='sm:p-0')
        dl(class='sm:divide-y sm:divide-gray-200')
          if Object.keys(data.data).length < 1
            .rounded-md.bg-red-50.p-4
              .flex
                .flex-shrink-0
                  // Heroicon name: mini/x-circle
                  svg.h-5.w-5.text-red-400(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 20 20', fill='currentColor', aria-hidden='true')
                    path(fill-rule='evenodd', d='M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z', clip-rule='evenodd')
                .ml-3
                  h3.text-sm.font-medium.text-red-800 Service not found
                  .mt-2.text-sm.text-red-700
                    ul.list-disc.space-y-1.pl-5(role='list')
                      li Check spelling of service name and request
                      li Check if service is existing
          else
            for label in Object.keys(data.data)
              .py-4(class='sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5 sm:px-6')
                dt.text-sm.font-medium.text-gray-500=label
                dd.mt-1.text-sm.text-gray-900(class='sm:col-span-2 sm:mt-0')=data.data[label]

  else
    .min-h-full.bg-transparent.px-4.py-16(class='sm:px-6 sm:py-24 md:grid md:place-items-center lg:px-8')
      .mx-auto.max-w-max
        maindiv(class='sm:flex')
          p.text-4xl.font-bold.tracking-tight.text-emerald-600(class='sm:text-5xl') 403
          div(class='sm:ml-6')
            div(class='sm:border-l sm:border-gray-200 sm:pl-6')
              h1.text-4xl.font-bold.tracking-tight.text-gray-900(class='sm:text-5xl') Forbidden
              p.mt-1.text-base.text-gray-500 You do not have sufficient permissions to access this resource.
            .mt-10.flex.space-x-3(class='sm:border-l sm:border-transparent sm:pl-6')
              a.inline-flex.items-center.rounded-md.border.border-transparent.bg-emerald-600.px-4.py-2.text-sm.font-medium.text-white.shadow-sm(href='/', class='hover:bg-emerald-700 focus:outline-none focus:ring-2 focus:ring-emerald-500 focus:ring-offset-2') Go back to dashboard
              //a.inline-flex.items-center.rounded-md.border.border-transparent.bg-emerald-100.px-4.py-2.text-sm.font-medium.text-emerald-700(href='#', class='hover:bg-emerald-200 focus:outline-none focus:ring-2 focus:ring-emerald-500 focus:ring-offset-2') Contact support

  script.
    let state_status_selector_dropdown = false;
    function show_status_selector_dropdown() {
      document.getElementById("status_selector_dropdown").classList.remove("transition","ease-in","opacity-0", "pointer-events-none");
      document.getElementById("status_selector_dropdown").classList.add("transition","ease-out", "opacity-100");
      state_status_selector_dropdown = true;
    }
    function hide_status_selector_dropdown() {
      document.getElementById("status_selector_dropdown").classList.remove("transition", "ease-out", "opacity-100");
      document.getElementById("status_selector_dropdown").classList.add("transition", "ease-in", "opacity-0", "pointer-events-none");
      state_status_selector_dropdown = false;
    }
    function toggle_status_selector_dropdown() {
        if (state_status_selector_dropdown) {
            hide_status_selector_dropdown();
        } else {
            show_status_selector_dropdown();
        }
    }

    function show_status_details_panel() {

    }

    function hide_status_details_panel() {

    }

    let status_current = null;
    function status_selected (status) {
        status_current = status;
    }


